
nav {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 60px;
    height: 60px;

    margin: 10px 0;

    background: url(../images/coffee-cup.svg) no-repeat center center;
    background-size: contain;
  }

  .btn-menu {
    display: none;
    background: transparent;
    border: none;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      display: block;
      padding: 0.75rem;
      color: black;
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    li.retour {
      display: none;
    }

  }

}




@media screen and (max-width: 992px) {


  nav {
    padding: 0 20px;

    .btn-menu {
      display: block;
    }

    ul {
      padding-top: 80px;

      position: fixed;
      top:0;
      left:100%;
      z-index: 10;

      flex-direction: column;
      background: white;

      width: 100%;
      height: 100vh;

      transition: left 0.6s ease;

      text-align: center;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 30px);

        width: 60px;
        height: 60px;

        margin: 10px 0;

        background: url(../images/coffee-cup.svg) no-repeat center center;
        background-size: contain;
      }

      &.open {
        left: 0;
      }

      .logo {
        align-self: flex-start;
      }



      li {
        border-bottom: 1px solid #efefef;

        &.retour {
          display: block;
        }

        &:first-child {
          border-top: 1px solid #efefef;
        }

      }

    }

  }

}


